.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gold;
  color: rgb(220, 233, 36);
  background-image: linear-gradient(79deg, #a88510, #0e0b02 48%, #806a0b);
}